<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    {% include navigation.html %}
    <div class="container">
      {{ content }}
    </div>
    <!-- /.container -->
    <footer>
        <p>
          <a href="https://www.linkedin.com/in/sunny-miglani/" class="icon linkedin"></a>
          <a href="https://www.instagram.com/the_sun_effect/?hl=en" class="icon insta"></a>
          <a href="https://github.com/sunnymiglani"class="icon github"></a>
          <a href="mailto:sunnymiglani936@gmail.com" class="icon email"></a>
        </p>
    </footer>
  </body>
</html>
