<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>

  <body>
    {% include navigation.html %}
    <div class="container">
      {{ content }}
    </div>
    <!-- /.container -->
    <footer>
      <ul>
        <li><a href="mailto:sunnymiglani936@gmail.com">email</a></li>
        <li>
          <a href="https://github.com/sunnymiglani">github.com/sunnymiglani</a>
        </li>
      </ul>
        <p>
          <a href="https://www.linkedin.com/in/sunny-miglani/" class="linkedin"></a>
          <!-- <a href="https://www.instagram.com/the_sun_effect/?hl=en" class="insta"></a> -->
        </p>
    </footer>
  </body>
</html>
